@media screen and (max-width:800px) {
  /*Portada*/
  .titulo {
    margin-top: 30px;
    font-size: 45px;
  }
  .titulo-a {
    font-size: 18px;
  }
  .portada {
    height: auto;
  }
  .portada .button {
    margin-bottom: 30px;
    display: inline-block;
  }
  /*Portada*/
  /*Guitarras*/
  .guitarras {
    text-align: center;
  }
  .izquierda, .derecha {
    float: none;
    position: static;
  }
  .title-b {
    margin: 0;
  }
  .guitarras li {
    list-style: none;
  }
  .guitarra.b {
    height: auto;
  }
  .contenedor-guitarra-b {
    margin: 0;
    position: static;
  }
  .contenedor-guitarra-a {
    padding: 0;
  }
  /*Guitarras*/
  /*Precios*/
  .tabla {
    margin: 50px 10px;
  }
  .tabla .contenedor {
    overflow: auto;
    border: 1px solid #273b47;
  }
  /*Precios*/
}

@media screen and (max-width: 767px) {
  /*Footer*/
  .footer .contenedor {
    display: block;
  }
  .contacto {
    margin: 0 auto;
    display: block;
  }
  .contacto a {
    display: block;
  }
  .formulario {
    display: block;
    margin: 0px auto;
    width: 300px;
  }
  .intereses label {
    display: block;
    font-size: 16px;
  }
  .col1 {
    margin: 0;
  }
  input[type="text"] {
    margin-bottom: 20px;
  }
  input[type="text"], input[type="email"] {
    font-size: 20px;
    padding: 5px;
  }
  .sexo label {
    display: block;
  }
  textarea {
    width: 100%;
  }
  input[type="radio"], input[type="checkbox"] {
    zoom: 1.5;
  }
  /*Footer*/
}

@media screen and (max-width: 650px) {
  .header {
    text-align: center;
  }
  .logotipo {
    margin: 0;
  }
  .menu {
    position: static;
    display: block;
  }
  .menu li:first-child {
    margin: 0;
  }
  .menu ul {
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .portada .button, .formulario .button {
    display: block;
  }
  /*Portada*/
  .precios .header .logotipo {
    margin: 50px 0;
  }
  .portada .contenedor {
    position: static;
  }
  .header {
    position: static;
  }
  .header .contenedor {
    position: static;
  }
  .burguer-button {
    display: block;
    position: fixed;
  }
  .menu {
    background: rgba(255, 60, 88, .8);
    position: absolute;
    width: 100%;
    left: -100%;
    top: 0;
    z-index: 2;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    transition: .3s
  }
  .menu.active {
    left: 0;
    position: fixed;
  }
  .menu ul {
    flex: 1;
  }
  .menu li {
    display: block;
    margin: 0;
    padding: 8px 0;
    border-bottom: 1px solid white;
  }
  .menu li:before {
    display: none;
  }
  .menu li:first-child {
    border-top: 1px solid white;
  }
  .portada {
    text-align: center;
  }
  .titulo {
    font-size: 30px;
  }
  .titulo-a {
    font-size: 16px;
  }
  /*Portada*/
  /**Guitarra*/
  .guitarra img {
    width: 200px;
  }
  .title-b {
    font-size: 30px;
  }
  /*Guitarra*/
  /*Footer*/
  .col2 {
    align-items: stretch;
  }
  /*Footer*/
}

@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .background {
    background-image: url('../images/background2x.png');
  }
}


}

}
